@import 'node_modules/reset-css/reset.css';
@import "fonts.css";

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main {
    position: relative;
    width: 390px;
    height: 843px;
    background-image: url('assets/img/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.nazar {
    display: block;
    margin: 64px auto 0 auto;
}

.title {
    font-family: Poppins, sans-serif;
    margin-top: 18px;
    text-align: center;
    color: #fff;
    font-size: 48px;
    -webkit-text-stroke: 1px #000;
}

.trajectory {
    position: absolute;
    top: 270px;
}


.plane {
    position: absolute;
    top: 270px;
    right: 48px;
    transform: rotate(-7deg);
}
