<main class="main">
  <img src="assets/img/nazar.svg" alt="Nazar" class="nazar">
  <h1 class="title">Till İstanbul<br>left</h1>
  <img src="../assets/img/trajectory.png" alt="Trajectory" class="trajectory">
  <img #plane src="assets/img/plane.gif" alt="Plane" class="plane">

  <div class="counter">
    <div class="counter__top">
      <div class="counter__part">{{years}} <div class="counter__subtext">years</div></div>
      <div class="counter__part">{{months}} <div class="counter__subtext">months</div></div>
      <div class="counter__part">{{days}} <div class="counter__subtext">days</div></div>
    </div>
    <div class="counter__part">{{hours}}:{{minutes}}:{{seconds}}</div>
  </div>
</main>
